
// $footer-height: 100px !default;

.app {
  .brand {
    color: #00BFFF;
  }
}

%footerHeight {
  height: calculate-rem(100px);
}

.appContent {
  padding-top: calculate-rem(50px);
  // min-height: #{'calc(100vh - ' + calculate-rem($footer-height) + ')'}; // exclude the height of footer
  position: relative;
}

.notifs {
  margin: calculate-rem(15px) 0;
  color: #F0F8FF;
  border: 3px solid #F0F8FF;
}

.footer {
  background: #388E8E;
  // @extend %footerHeight;
  height: calculate-rem($footer-height);
  .flexContainer {
    @include lobster-v20-latin-regular-font;
  }
}
