
.app {
  .brand {
    @include bootstrap-default-font;
    color: #00BFFF;
  }
}

%footerHeight {
  height: 100px;
}

.appContent {
  padding-top: calculate-rem(50px);
  // min-height: calc(100vh - 100px); // exclude the height of footer
  min-height: #{'calc(100vh - ' + $footer-height + ')'};
  position: relative;
}

.faBars {
  // transform: scale(1.5, 1.5);
  // @include font-size(28px);
}

.notifs {
  margin: calculate-rem(15px) 0;
  color: #F0F8FF;
  border: 3px solid #F0F8FF;
}

.footer {
  background: #388E8E;
  // @extend %footerHeight;
  // @include footer-height;
  height: $footer-height;
  .flexContainer {
    @include roboto-mono-v4-latin-regular-font;
    @include bg-color-lightsteelblue;
  }
}
