{
  "presets": [
    ["@babel/preset-react"],
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "IE >= 8"]
      }
    }],
    ["@babel/preset-stage-0"],
    ["@babel/preset-flow"]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread"],
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties"],
    "react-loadable/babel",
    "react-hot-loader/babel"
  ]
}
