
// -----------------------------------------------------
// ---------------- SHARED APP VARIABLES ---------------
// -----------------------------------------------------

$font-size-browser-default: 16px !default;

$footer-height: 100px !default;

$footer-margin-top: 15px !default;

$color-cornflowerblue: #6495ED !default;

$color-cadmiumorange: #FF6103 !default;

$font-assets-url-path: '../../fonts';