
// -----------------------------------------------------
// ---------------- SHARED APP VARIABLES ---------------
// -----------------------------------------------------

$font-size-browser-default: 16px;

$footer-height: calculate-rem(100px);

$color-cornflowerblue: #6495ED;

$color-cadmiumorange: #FF6103;